Repository openENTRANCE/openentrance, pull requests merged in 2021-02, with the labels that each got.

#90 Refactoring and simplifying of variables related to power plant specifications
  nomenclature/definitions/variable/technology/power-plant.yaml
Labels: structure

#91 Remove duplicate variables following the restructuring using <Fuel> tag
  nomenclature/__init__.py
  nomenclature/definitions/variable/technology/power-plant.yaml
Labels: definitions, py-package

#97 Reintroducing load factor variables for renewables
  nomenclature/definitions/variable/technology/power-plant.yaml
Labels: definitions

#95 Harmonize tags related to upwards/downwards direction in variables
  nomenclature/definitions/variable/technology/power-plant.yaml
Labels: definitions

#96 Remove `Rate` from variables relate to reserve
  nomenclature/definitions/variable/technology/power-plant.yaml
Labels: definitions

#92 Remove duplicate variable for hydro-reservoir inflow
  nomenclature/definitions/variable/technology/power-plant.yaml
Labels: definitions

#93 Harmonize variable name for run-of-river-hydro load factor
  nomenclature/definitions/variable/technology/power-plant.yaml
Labels: definitions

#100 Implement a dictionary subclass `nomenclature.Definition`
  .stickler.yml
  nomenclature/__init__.py
  nomenclature/definitions/variable/technology/electrity-operation.yaml
Labels: py-package, structure

#99 Change unit of `Mean Outage Duration` to time domain
  nomenclature/definitions/variable/technology/power-plant.yaml
Labels: definitions
